.whiteBtnWide {
    @extend .whiteBtn;
    width: 460px;
    margin-top: 30px;
}

.suggest_wrap {
    padding: 20px;
}

.tab {
    width: 196px;
    height: 210px;
    border-radius: 8px;
    background-color: var(--white);
    border: 1px solid #E2E8F0;
    flex: 0 0 calc(50% - 10px);

    // 임시설정
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;

    // 임시설정
    &:hover {
        transform: translateY(-5px);  // 탭에 마우스를 올리면 약간 올라오는 효과
    }
}
