.Header_wrap {
    background-color: var(--white);
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 500px;
    height: 56px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    z-index: 10;

    img {
        width: 91px;
    }
    z-index: 300;
}

.Nav_wrap {
    background-color: var(--white);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    max-width: 500px;
    height: 60px;
    padding: 0 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:100;
}