.signSuccess-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 500;
    position: relative;
    h2{
        width: 396px;
        height: 31px;
        top: 386px;
        left: 52px;
        gap: 0px;
        opacity: 0px;
        font-family: 'Pretendard';
        font-size: 26px;
        font-weight: 300;
        line-height: 31.03px;
        text-align: center;
        color: var(--main);
    }
    h1{
        width: 396px;
        height: 43px;
        top: 464px;
        left: 52px;
        gap: 0px;
        opacity: 0px;
        font-family: 'Pretendard';
        font-size: 36px;
        font-weight: 500;
        line-height: 42.96px;
        text-align: center;
        margin-top: 50px;
    }
    .Tosign-btn{
        width: 301px;
        height: 50px;
        margin-top: 100px;
        top: 592px;
        left: 99px;
        padding: 13px 20px 13px 20px;
        gap: 4px;
        border-radius: 8px;
        background-color: var(--main);
        color: var(--white);
        text-align: center;
    }

}