.Team_wrap {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    >div {
        .header {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;

            img {
                width: 40px;
                position: absolute;
                left: 0;
            }

            h2 {
                font-size: 20px;
                font-weight: 500;
            }
        }

        .main {
            background-color: var(--box);
            border-radius: 20px;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 477px;

            >input {
                font-size: 28px;
                font-weight: 600;
                color: var(--placeholder);
                text-align: center;
                background-color: var(--none);
            }

            .day {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .time_wrap {
                    height: 192px;
                    border-radius: 8px;
                    background-color: var(--white);
                    padding: 16px;
                    border: 1px solid #E2E8F0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    >div {
                        h3 {
                            text-align: left;
                            font-size: 16px;
                            color: var(--placeholder);
                            margin-bottom: 12px;
                        }

                        .toggle_wrap {
                            display: flex;
                            justify-content: space-between;

                            label {
                                position: relative;
                                width: 31.5%;
                                height: 36px;
                                border-radius: 16px;
                                border: 1px solid #E2E8F0;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                select {
                                    background-color: var(--none);
                                    padding: 8px 16px;
                                    width: 100%;
                                    outline: none;
                                    color: var(--placeholder);
                                }

                                img {
                                    width: 16px;
                                    position: absolute;
                                    right: 8px;
                                }
                            }
                        }
                    }

                }
            }

            .memo_wrap {
                height: 158px;
                background-color: var(--white);
                border-radius: 8px;
                border: 1px solid #E2E8F0;
                padding: 16px;

                h3 {
                    text-align: left;
                    font-size: 16px;
                    color: var(--placeholder);
                    margin-bottom: 5px;
                }

                textarea {
                    padding: 16px;
                    width: 100%;
                    height: 74px;
                    border-radius: 4px;
                    border: 1px solid #E2E8F0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: var(--placeholder);
                    outline: none;
                    margin-bottom: 5px;
                }

                p {
                    font-size: 12px;
                    color: var(--placeholder);
                    text-align: right;
                }
            }
        }
    }

    .btn_box {
        button {
            width: 100%;
            height: 50px;
            border-radius: 8px;
            background-color: var(--main);
            color: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 8px;
        }

        .delete {
            background-color: var(--white);
            border: 1px solid #868686;
            color: #868686;
        }
    }

    .popup_wrap {
        position: absolute;
        bottom: 0;
        z-index: 10;
        width: inherit;
        height: 292px;
        border-radius: 28px 28px 0 0;
        left: 0;
        padding: 30px 28px;
        background-color: var(--white);
        box-shadow: 0px -3px 32px 1px #00000025;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .close {
            width: 100%;
            display: flex;
            justify-content: right;

            img {
                width: 18px;
            }
        }

        h2 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            color: #969AA3;
            margin-bottom: 10px;
        }

        .btn_box {
            width: 100%;

            .delete {
                border: 1px solid var(--main);
                color: var(--main);
            }
        }
    }
}

.TeamJoin_wrap {
    position: relative;
    z-index: 20;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
        font-weight: 500;
        margin-bottom: 20px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        color: #969AA3;
        margin-bottom: 40px;
    }

    .btn_box {
        display: flex;
        flex-direction: column;

        a {
            height: 50px;
            width: 300px;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            background-color: var(--main);
            margin-bottom: 10px;
            font-size: 20px;
        }

        .join {
            background-color: var(--white);
            color: var(--main);
            border: 1px solid var(--main);
        }
    }
}