.Record_wrap {
    overflow: hidden;
    padding: 20px;

    .back-btn {
        display: flex;
        position: fixed;
        left: 50%;
        top: 56px;
        width: 100%;
        max-width: 500px;
        height: 56px;
        transform: translateX(-50%);
        align-items: center;
        box-sizing: border-box;
        padding: 5px 10px;

        a {
            display: flex;
            align-items: center;

            .back-btn-img {
                width: auto;
                height: auto;
                max-width: 40px;
                max-height: 40px;
                margin-top: -5px;
            }
        }

        h1 {
            width: 395px;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            margin-top: -1.5px;
        }
    }

    .record-section {
        background-color: #F7F8FA;
        padding: 20px;
        border-radius: 10px;
        margin-top: 120px;

        &.editing .input-field input {
            font-size: 14px;
        }

        &.saved .show-amount {
            font-size: 28px;
            margin-bottom: 15px;
            text-align: left;
            color: #000000;
            background-color: #F7F8FA;
            border: none;
            padding: 10px;
            display: flex;
            align-items: center;
            margin-left: -7px;
        }

        &.saved .currency {
            color: #007bff;
            font-size: 28px;
            margin-left: 8px;
        }

        .show-category {
            display: flex;
            align-items: center;
            margin-left: auto;
            font-size: 14px;
            color: #007bff;

            .category-item {
                border: 1px solid #007bff;
                border-radius: 10px;
                padding: 5px 14px;
            }
        }

        .show-member {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 5px;
            width: 100%;
            box-sizing: border-box;
            background-color: #ffffff;
            margin-bottom: 15px;


            .member-item {
                margin-left: 4px;
                margin-right: 2px;
                border: 1px solid #007bff;
                border-radius: 10px;
                padding: 5px 10px;
                color: #007bff;

                &:first-child {
                    margin-left: 250px;
                }
            }
        }

        .title-input {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 15px;
            text-align: center;
            color: #9a9fa8;
            background-color: #F7F8FA;
            border: none;
            border-radius: 5px;
            width: 100%;
            padding: 10px;
        }

        .input-field {
            display: flex;
            align-items: center;
            position: relative;
            margin-bottom: 15px;

            input {
                padding: 13px;
                font-size: 14px;
                border: 1px solid #ddd;
                border-radius: 5px;
                width: 100%;
                box-sizing: border-box;
            }

            .currency {
                position: absolute;
                right: 12px;
                color: #007bff;
                font-size: 14px;
            }
        }

        .dropdown {
            position: relative;
            margin-bottom: 15px;

            .react-select__control {
                width: 100%;
                padding: 12px;
                font-size: 12px;
                border: 1px solid #ddd;
                border-radius: 5px;
                background: white;
            }
        }

        .receipt,
        .memo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 15px;
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;

            label {
                font-size: 15.5px;
                color: #333;
                margin-bottom: 5px;
            }

            .photo-box {
                width: 100px;
                height: 100px;
                background-color: #f0f0f0;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }

            .uploaded-img {
                width: 100px;
                height: 100px;
                border-radius: 5px;
            }

            .upload-label {
                cursor: pointer;
                text-align: center;
                color: #333;
                font-size: 14px;
            }

            textarea {
                width: 100%;
                padding: 10px;
                font-size: 14px;
                border: 1px solid #ddd;
                border-radius: 5px;
                background-color: #ffffff;
            }
        }

    }

    .saved-section {
        .input-field {
            margin-top: 20px;
        }
    }
}

// 버튼 스타일 섹션
.buttons {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;  
    align-items: center !important;     
    margin-top: 20px;
    gap: 10px;                           

    button {
        width: 50%;                      // 버튼의 너비를 각각 40%로 설정
        padding: 10px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;              // 버튼 안의 텍스트도 중앙 정렬

        &.submit {
            background-color: #007bff;
            color: white;
        }

        &.cancel {
            background-color: #f8f8f8;
            color: #333;
            border: 1px solid #ddd;
        }
    }
}

