
.splash-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 500;
    position: relative;
    h2{
        width: 124px;
        height: 36px;
        top: 362px;
        left: 188px;
        gap: 0px;
        opacity: 0px;
        font-family: "seolleimcool-SemiBold";
        font-size: 28px;
        font-weight: 600;
        line-height: 35.56px;
        text-align: center;
        color: var(--lowmain);
    }
    h1{
        height: 90px;
        top: 398px;
        left: 114px;
        gap: 0px;
        opacity: 0px;
        font-family: "seolleimcool-SemiBold";
        font-size: 72px;
        font-weight: 600;
        line-height: 90px;
        letter-spacing: 0.05em;
        text-align: center;
        color: var(--main);
        margin-top: 10px;
    }
        h3{
            width: 183px;
            height: 16px;
            top: 498px;
            left: 159px;
            margin-top: 10px;
            gap: 0px;
            opacity: 0px;
            font-family: 'GmarketSansLight';
            font-size: 16px;
            font-weight: 300;
            line-height: 16px;
            text-align: center;
            color: var(--highmain);
        }
        .Tosignin-btn{
            width: 301px;
            height: 50px;
            margin-top: 70px;
            top: 592px;
            left: 99px;
            padding: 13px 20px 13px 20px;
            gap: 4px;
            border-radius: 8px;
            background-color: var(--main);
            color: var(--white);
            text-align: center;
        }
    .Tosignup-btn{
        width: 301px;
        height: 50px;
        margin-top: 15px;
        top: 592px;
        left: 99px;
        padding: 13px 20px 13px 20px;
        gap: 4px;
        border-radius: 8px;
        border: solid 1px var(--main);
        background-color: var(--white);
        color: var(--main);
        text-align: center;
    }

}